body {
    background-color: rgb(219, 217, 217);
}

h1 {
    text-align: center;
}

.col1 {
    display: flex;
    justify-content: left;
    
}

.col2 {
    display: flex;
    justify-content: right;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.row2 {
    text-align: center;
}